<HTML>
<head>
</head>
<body>
<link rel="stylesheet" href="assets/css/ajouter.css">
<div class="container">  
  <form id="contact" action="supprimer.php" method="post">
    <h3>Supprimer un hotel</h3>
    <h4>Supprimer un hotel de la base de donner</h4>
      <fieldset>
      <input placeholder="Id de Hotel" type="text" tabindex="1" name="idH" required autofocus>
    </fieldset>
    
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" >Submit</button>
    </fieldset>
  </form>
 
  
</div>

</body>
</HTMl>